.editFood,
.food {
    padding: 20px 40px;
    background-color: var(--blackout-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 520px
}


.nameWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 14px;
    font-size: 28px;
    font-weight: bold;
    color: var(--main-color);
}


.name {
    display: flex;
    align-self: flex-end;
}

.name .input {
    width: 100%;
    font-size: 28px;
}

.priceWrapper .input {
    font-size: 28px;
    width: 100px;
}

.editMenuWrapper {
    display: flex;
    gap: 10px;
}

.editMenuWrapper .button {
    height: 30px;
    width: 30px;
    font-size: 16px;
}


.kcal {
    font-size: 16px;
    font-weight: bolder;
}
.content {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.detailsWrapper{
    display: flex;
    gap: 4px 40px;
    flex-wrap: wrap;
    align-self: flex-end;
    font-size: 14px;
}

.priceWrapper {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

.price {
    font-weight: bold;
    color: rgb(255, 110, 52);
    font-size: 36px;
}

.detailLabel {
    font-size: 14px;
    color: gray;
}

