.catalogs {
    display : flex;
    flex-direction : column;
    gap:20px;
    width: 720px;
}

.add {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
    padding-right: 40px;
    width: fit-content;
    align-items: center;
    border-radius: 16px;
    background: var(--blackout-color);
}

.add .text {
    font-weight: bolder;
    font-size: 24px;
}


