.nameWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 14px;
    font-size: 28px;
    font-weight: bold;
}
.name {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    font-size: 44px;
    font-weight: bolder;
}

.input {
    width: 100%;
    font-size: 44px;
}

.foodsWrapper {
    display: flex;
    justify-content: center;
}
.foods {
    padding: 20px;
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    display: flex;
    align-self: flex-end;
}

.edit {
    align-self: center;
}

.addFood {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 16px;
    padding: 12px 40px;
    background: var(--blackout-color);
}

.addFood .text {
    font-weight: bolder;
    color: gray;
    font-size: 24px;
}

.foods button {
    font-size: 16px;
    height: 30px;
    width: 30px;
}



